<?xml version="1.0" ?>
<opencv_storage>
	<CameraSettings>
		<Camera_Index>1</Camera_Index>
		<Camera_Type>OCAM</Camera_Type>
		<Camera_Resolution>"1280 x 720"</Camera_Resolution>
		<Stream_Resolution>"640 x 480"</Stream_Resolution>
		<Camera_Calibration>/home/peter/Documents/Honours/ProjectEagle/src/client/config/devices/origin/calibration.xml</Camera_Calibration>
		<Extrinsic_Calibration>/home/peter/Documents/Honours/ProjectEagle/src/client/config/devices/origin/extrinsic.xml</Extrinsic_Calibration>
	</CameraSettings>
	<CommunicatorSettings>
		<Group>EAGLE1</Group>
		<Interface>wlan0</Interface>
		<Init_Wait_Time>0</Init_Wait_Time>
	</CommunicatorSettings>
	<BoardSettings>
		<BoardSize_Width>6</BoardSize_Width>
		<BoardSize_Height>7</BoardSize_Height>
		<Square_Size>108</Square_Size>
		<Calibrate_Pattern>CHESSBOARD</Calibrate_Pattern>
	</BoardSettings>
</opencv_storage>
